<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= req.config.path %>/css/style.css">
    <link rel="stylesheet" href="<%= req.config.path %>/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= req.config.path %>/bootstrap/css/bootstrap-theme.min.css">
    <script src="<%= req.config.path %>/jquery/jquery-2.1.4.min.js"></script>
    <script src="<%= req.config.path %>/jquery-ui-1.11.4/jquery-ui.min.js"></script>
    <link rel='stylesheet' href='<%= req.config.path %>/jquery-ui-1.11.4/jquery-ui.min.css' />
    <script src="<%= req.config.path %>/socket.io/socket.io.js"></script>
    <script src="<%= req.config.path %>/js/mouse.js"></script>
    <script src="<%= req.config.path %>/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="titulo">
        <h1>NodeTetris</h1>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <h1 class="page-header">
                    Nombre:
                </h1>
                <input type="text" name="nombre" id="nombre" value=""/>
            </div>
            <div class="row">
                <h1 class="page-header">
                    Partidas:
                </h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Online</th>
                            <th>Maximos</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody id="partidas">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <script>
        var socket = io(':<%= req.config.client_port %>/sala', {path: "<%= req.config.path %>/socket.io"});
        var path = "<%= req.config.path %>";
        socket.on('listado', function(listado){
            $('#nombre').val(socket.id);
            $('#partidas').html('');
            for(var i=0;i<listado.length;i++)
                $('#partidas').append('\
<tr>\
    <td><input type="hidden" name="partida" value="'+listado[i].nio+'" />'+listado[i].nombre+'</td>\
    <td>'+listado[i].cj+'</td>\
    <td>'+listado[i].cantidad+'</td>\
    <td>Clasico</td>\
</tr>\
                ');
            $('#partidas tr').click(function(){
                var nombre = $('#nombre').val();
                var partida = $(this).find('input[name="partida"]').val();
                window.location.href = path + "/partida/" + nombre + "/" + partida + "/";
            });
        });
	</script>
  </body>
</html>
