<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="<%= req.config.path %>/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--
        <link rel="stylesheet" href="<%= req.config.path %>/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="<%= req.config.path %>/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="<%= req.config.path %>/jquery-ui-1.11.4/jquery-ui.min.css">
        <script src="<%= req.config.path %>/jquery-ui-1.11.4/jquery-ui.min.js"></script>
        -->
        
        <script src="<%= req.config.path %>/timehack/HackTimer.min.js"></script>
        <script src="<%= req.config.path %>/js/jquery-2.1.4.min.js"></script>
        <script src="<%= req.config.path %>/js/jquery.touchSwipe.min.js"></script>
        <script src="<%= req.config.path %>/js/mouse.js"></script>
        <style>
            body{
                background: #000;
                padding: 0px;
                margin: 0px;
                overflow: hidden;
            }
        </style>
  </head>
    <body>
        <canvas id="pantalla" class="fondo_verde" width="200" height="500"></canvas>
        
        <script>
            var id_pagina = <%= req.params.id %>;
            var client_port = "<%= req.config.client_port %>";
            var server_path = "<%= req.config.path %>";
        </script>
        <script src="<%= req.config.path %>/socket.io/socket.io.js"></script>
        <script src="<%= req.config.path %>/js/tetris.js"></script>
        <script src="<%= req.config.path %>/js/itetris.js"></script>
        <script src="<%= req.config.path %>/js/client.js"></script>
        <script src="<%= req.config.path %>/js/ordenador.js"></script>
    </body>
</html>

 
